[rpmfusion-free-updates-testing]
name=RPM Fusion for EL $releasever - Free - Test Updates
#baseurl=http://download1.rpmfusion.org/free/el/updates/testing/$releasever/$basearch/
metalink=http://mirrors.rpmfusion.org/metalink?repo=free-el-updates-testing-$releasever&arch=$basearch
enabled=0
type=rpm-md
gpgcheck=1
repo_gpgcheck=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-rpmfusion-free-el-9

[rpmfusion-free-updates-testing-debuginfo]
name=RPM Fusion for EL 9 - Free - Test Updates Debug
#baseurl=http://download1.rpmfusion.org/free/el/updates/testing/$releasever/$basearch/debug/
metalink=http://mirrors.rpmfusion.org/metalink?repo=free-el-updates-testing-debug-$releasever&arch=$basearch
enabled=0
type=rpm-md
gpgcheck=1
repo_gpgcheck=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-rpmfusion-free-el-$releasever

[rpmfusion-free-updates-testing-source]
name=RPM Fusion for EL 9 - Free - Test Updates Source
#baseurl=http://download1.rpmfusion.org/free/el/updates/testing/$releasever/SRPMS/
metalink=http://mirrors.rpmfusion.org/metalink?repo=free-el-updates-testing-source-$releasever&arch=$basearch
enabled=0
type=rpm-md
gpgcheck=1
repo_gpgcheck=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-rpmfusion-free-el-$releasever

